
/* rest  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-background: #ffffff;
	--color-background-image: #b4d0e7;
	--color-button: #0061ff;
	--color-background-footer: #000000;
	--color-bg-designit: #a2d39b;
	--color-bg-asu: #61082b;
	--color-bg-uniflorida: #0093ce;
	--color-bg-topps: #ff1c1c;
	--color-bg-designit-center: #f5f5f5;
	--color-bg-bicycle: #d5001f;
	--color-bg-lonelyplanet: #0d2481;
	--color-bg-herst: #b4d0e7;
	--color-bg-clearchannel: #ffd830;
	--color-text-buisness: #61082b;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.debug{
    border: 1px solid red;
}

.debug-1{
    border: 1px solid black;
}



/* general  */

body{
    font-family: "Open Sans", sans-serif;
    min-width: 1200px;
}

/* header  */


header{
    background-color: var(--color-background-image);
    margin-top: 50px;
    min-height: 620px;
}

nav{
    background-color: var(--color-background);
}

header ul li{
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}



header ul li a:hover:not(#no-shadow){
    box-shadow: 0px 30px 0px -9px  grey;
}


.shadow:hover{
    box-shadow: 0px 30px 0px -9px  grey;
    
}


header ul li a{
    color: var(--color-background-footer);
}


header img{
   padding-top: 7px;
   max-width: 100%;
}

h1{
    font-size: 70px;
}

.left{
    width: 30%;
   
}

.right{
    width: 70%;
}

header p{
    margin-top: 30px;
    font-size: 18px;
}

.down-arrow{
    font-size: 50px;
    padding-top: 10px;
}


.position-relative{
    position: relative;
}

#jumbo{
    position: absolute;
    padding-top: 30px;
}
#hero{
    padding-bottom: 30px;
}

/* main  */



.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    padding-right: 20px;
  }

  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  .radio-containerr:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container input:checked ~ .checkmark:after {
    display: inline-block;
  }

  .radio-container .checkmark:after {
    top: 7px;
   left: 7px;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: white;
}


main a{
    text-decoration: underline;
}

i{ 
    padding: 5px;
}

ul li i{
    margin-left: -10px;
}

.check{
    color: var(--color-bg-uniflorida);
}

.link{
    color: var(--color-bg-uniflorida);
}

.agency-filter{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg) brightness(104%) contrast(101%);
    width: 200px;
}





/* agency logo and hover  */



/* green  */
.green{
    background-color: var(--color-bg-designit);
}

.green:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* green  */


/* celestial  */
.celestial{
    background-color: var(--color-bg-uniflorida);
}

.celestial:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* celestial  */


/* violetto  */
.violetto{
    background-color: var(--color-bg-asu);
}

.violetto:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* violetto  */


/* orange  */
.orange{
    background-color: var(--color-bg-topps);
}

.orange:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* orange  */



/* red */
.red{
    background-color: var(--color-bg-bicycle);
}

.red:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* red */



/* blue  */

.blue{
    background-color: var(--color-bg-lonelyplanet);
}

.blue:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* blue  */



/* light-blue  */

.light-blue{
    background-color: var(--color-background-image);
}

.light-blue:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* light-blue  */



/* yellow  */
.yellow{
    background-color: var(--color-bg-clearchannel);
}

.yellow:hover{
    border: 20px solid rgba(255, 255, 255, 0.2);
}
/* yellow  */


#agency-call-too-action{
    background-color: var(--color-background-image);
}

.viola{

    color: var(--color-bg-asu);
}




summary{
    list-style: none;
    cursor: pointer;
}

    summary::after {
    margin-top: -3px;
    content: "\02C5";
    color: var(--color-background-footer);
    float: left;
    margin-right: 10px;
    font-size: large;
    position: relative;
    left: 950px;
    }
   
    details[open] summary::after {
    content: "\005E";
    font-size: large;
    }

summary h4{
    display: inline-block;
}



/* 
#down-arrow{
    padding-left: 270px;
}

#up-arrow{
  padding-left: 270px;
  display: none;
    
}

summary:active #down-arrow{
    display: none;
}

summary:active #up-arrow{
    display: inline-block;
    
}
 */



/* footer  */

footer{
    background-color: var(--color-background-footer);
    color: var(--color-background);
}

footer a{
    color: var(--color-background);
    font-size: large;
}

footer a:hover{
    text-decoration: underline;
}

footer ul li{
    padding-bottom: 20px;
}

footer h2{
    font-size: 30px;
}

.lenguage{
    cursor: pointer;
    padding: 50px 0px;
}


/* container  */





.container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

.nav-container{
    width: 100%;
    padding: 10px 5px;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.plan-container{
    width: 300px;
    min-height: 855px;
}

.container-600{
    max-width:600px;
}

.all-img-container{
    width: calc(100 / 3);
    gap: 30px;
    padding-top: 50px;
}

.img-container{
    width: 300px;
}

.text-container{
    width: 300px;
    word-wrap: break-word;

}

.s-agency-conteiner{
    width: 300px;
    aspect-ratio: 1 / 1 ;
    justify-content: center;
    align-items: center;
}



.b-agency-container{
    width:699px;
    height: 600px;
    padding: 30px;
    background-color: var(--color-bg-designit-center);
    overflow-y: scroll;
    padding-bottom: 500px;
    
}

   


/* utility flex  */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.row-revers{
    flex-direction: row-reverse;
}

.space-between{
    justify-content: space-between;
}

.align-item{
    align-items: center;
}

.align-content{
    align-content: center;
}

.f-start{
    justify-content: flex-start;
}

.f-end{
    justify-content: flex-end
}

.f-center{
    justify-content: center;
}

/* margin/padding  */

.header-pudding{
    padding: 30px 10px 0px 10px;
}

.section-padding{
    padding: 100px 10px ;
}


.padding-plan{
    padding: 30px 25px;
}

.padding-partner{
    padding: 150px 20px 0px 22px;
}

/* margin  */

.margin-t-30{
    margin-top: 30px;
}

.margin-l-30{
    margin-left: 30px;
}

.margin-l-500{
    margin-left: 800px;
}

/* padding  */



/* padding bottom  */
.padding-b-10{
    padding-bottom: 10px;
}

.padding-b-20{
    padding-bottom: 20px;
}

.padding-b-30{
    padding-bottom: 30px;
}

.padding-b-50{
    padding-bottom: 50px;
}

/* padding top  */

.padding-t-20{
    padding-top: 20px;
}

.padding-t-30{
    padding-top:30px ;
}

.padding-t-40{
    padding-top: 40px;
}



/* button utility */

.blue-button{
    color: var(--color-background);
    padding: 5px 10px;
    background-color: var(--color-button);
}

.blue-button-2{
    color: var(--color-background);
    padding: 10px 30px;
    background-color: var(--color-button);
    text-decoration: none;
}

.blue-button-3{
    color: var(--color-background);
    padding: 10px 85px;
    background-color: var(--color-button);
    text-decoration: none;
}

.black-button{
    color: var(--color-background-footer);
    padding: 10px;
    border: 1px solid var(--color-background-footer);
    border-left: 3px solid var(--color-background-footer);
    border-bottom: 3px solid var(--color-background-footer);
    text-decoration: none;
}

.white-button{
    text-decoration: none;
    font-size: x-large;
    padding: 10px 30px;
    background-color: var(--color-background);
    color: var(--color-background-footer);
}


/* border utility  */


.border-b-1{
    border-left: 0px solid var(--color-background-footer);
    border-right: 0px solid var(--color-background-footer);
    border-top: 0px solid var(--color-background-footer);
    border-bottom: 1px solid var(--color-background-footer);
}

.border{
    border: 1px solid var(--color-background-footer);
}

.border-b{
    border-bottom: 1px solid var(--color-background-footer);
   width: 60px;
}

.border-t{
    border-top: 1px solid var(--color-background);
   width: 200px;
}


/* text utility  */

.text-center{
    text-align: center;
}

.size-40{
    font-size: 40px;
}


