*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.left{
    width: 60%;
}
.right{
    width: 40%;
    background-color:#F7F5F2;
    position:fixed;
    right: 0px;
    top: 55px;
    height: 100%;
    top: 0px;
}

a{
    color: black;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.debug{
    border: 1px red solid;
}

/* general  */


body{
    font-family: "Open Sans", sans-serif;
    --inv: #1A73E8; 
    
}


/* header  */


.img-container{
    width: 50px;
    position: fixed;
    left: 0;
    top: 0;
}





.button-container{
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 100;
}

button{
    border: none;
    cursor: pointer;
    padding: 20px;
    background-color:#F7F5F2 ;
}

button:hover{
    background-color: rgba(134, 134, 134,0.5);
}



  
 .dropbtn:focus {
    background-color: rgba(134, 134, 134,0.5);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 290px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  .show {display: block;}



/* main  */

h1{
    font-size: 40px;
}

.sub-title{
    font-size: 12px;
    display: block;
}

.underline{
    font-weight: 700;
}
.underline:hover{
    text-decoration: none;
}

.title{
    font-size: 25px;
    display: block;
    padding-bottom: 15px;
}

.green{
    color: green;
}

.celeste{
    color: #1A73E8;
    margin: 5px;
}
/* radio style  */


.grey{
    color: gray;
    font-size:small ;
}

.title-2{
    font-size: 40px;
}

.font-size{
    font-size: x-large;
}

.second-img{
    width: 50px;
}

.logo{
    border-radius: 5px;
    box-shadow: 5px 10px 20px grey;
 
}

main ul li{
    display: flex;
    padding-bottom: 5px;
}


.no-underline{
    text-decoration: none;
    font-weight: 500;
}

.no-underline:hover{
    text-decoration: underline;
}


.lenguage{
    margin-left: 50px;
    font-weight: 700;
}
/* footer  */

footer{
    background-color: white;
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 20px 20px 50px 20px grey;
}

.container-cookie{
    width: 30px;
    border: 1px solid black;
    margin-top: 20px;
    min-height: 40px;
    position: relative;
    top: 60px;
}

.container-footer{
    width: 400px;
    position: relative;
    bottom: 50px;
    left: 400px;
}

footer a{
    text-decoration: none;
    background-color: #1A73E8;
    padding:15px 100px;
    color: white;
}


/* button animation  */
.btn {		
	position: relative;	
	padding: 1.4rem 5.2rem;
	padding-right: 3.1rem;
	font-size: 1rem;
	color: black;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: var(--def);
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: .35s;
}


/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}

 *:before, *:after {
	box-sizing: border-box;
}






/* radio style  */

.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    padding-right: 20px;
  }

  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }

  .radio-containerr:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .radio-container input:checked ~ .checkmark {
    background-color: black;
  }
  

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container input:checked ~ .checkmark:after {
    display: inline-block;
  }

  .radio-container .checkmark:after {
    top: 7px;
   left: 7px;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background: white;
}

/* checkboxes  */

.container-checkboxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container-checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark-2 {
    position: absolute;
    top: 7px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container-checkboxes:hover input ~ .checkmark-2 {
    background-color: #ccc;
  }
  
  .container-checkboxes input:checked ~ .checkmark-2 {
    background-color: black;
  }
  
  .checkmark-2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-checkboxes input:checked ~ .checkmark-2:after {
    display: block;
  }
  
  .container-checkboxes .checkmark-2:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }







/* container utility  */

.container{
    width: 1200px;
    margin: 0 auto;
   
}

.small-container{
    width: 420px;
    padding-top: 50px;
}




/* utility flex  */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.row-revers{
    flex-direction: row-reverse;
}

.space-between{
    justify-content: space-between;
}

.align-item{
    align-items: center;
}

.align-content{
    align-content: center;
}

.f-start{
    justify-content: flex-start;
}

.f-end{
    justify-content: flex-end
}

.f-center{
    justify-content: center;
}

/* margin/padding  */


/* margin  */

.margin-t-30{
    margin-top: 30px;
}

.margin-l-30{
    margin-left: 30px;
}

.margin{
    margin: 5px;
}

/* padding  */



/* padding bottom  */
.padding-b-10{
    padding-bottom: 10px;
}

.padding-b-20{
    padding-bottom: 20px;
}

.padding-b-30{
    padding-bottom: 30px;
}

.padding-b-50{
    padding-bottom: 50px;
}

/* padding top  */

.padding-t-20{
    padding-top: 20px;
}

.padding-t-30{
    padding-top:30px ;
}

.padding-t-40{
    padding-top: 40px;
}

.padding-t-60{
    padding-top:60px;
}


/* padding left  */

.padding-l-25{
    padding-left: 25px;
}

.padding-l-80{
    padding-left: 80px;
}

.input-padding{
height: 35px;    
width: 160px;
margin: 0px 15px 15px 0px;
}

.b-input-padding{
    height: 35px;
    width: 335px;
}



/* border utility  */


.border-b-1{
    border-left: 0px solid ;
    border-right: 0px solid ;
    border-top: 0px solid ;
    border-bottom: 1px solid grey;
    width: 100%;
}

.border{
    border: 1px solid grey;
}

.border-b{
    border-bottom: 1px solid var(--color-border);
   width: 60px;
}

.border-t{
    border-top: 1px solid grey;
   width: 200px;
}


/* button utility */

.blue-button{
    color: var(--color-background);
    background-color: var(--color-button);
    text-decoration: none;
}

.blue-button:hover{
    background-color: var(--color-bg-uniflorida);
}